@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Solway:wght@300;400;500;700;800&display=swap');

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
}
*{
  font-family: 'Poppins';
}
body{
  background-color: black;
  color:white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
  display: grid;
  grid-template: repeat(4,1f)/ 1fr;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: #ffffff35;
  border-radius: 24px;
}
.title{
  grid-row: span 1;
  justify-self: center;
  padding: 12px;
}
.elements{
  grid-row:2/ 4 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pedra,
.papel,
.tesoura{
  width: 100px;
  height: 100px;
  margin: 10px;
  border: solid 2px white;
  border-radius: 100px;
  background-color: transparent;
  font-size: 46px;
  cursor: pointer;
}
.pedra:hover,
.papel:hover,
.tesoura:hover{
  border: dotted 2px red;
}
.status{
  width: 100%;
  grid-row: span 3;
}
.res,
.jogadores,
.placar{
  font-size: 16px;
  font-weight: 200;
  width: 100%;
  text-align:center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.res{
  padding: 24px;
}

.jogador,
.pc{
  width: 150px;
  padding: 10px;
}
.sinal{
  width: 50px;
}
.options{
  grid-row: span 4 ;
  display: flex;
  justify-content: space-around;
}
.reset,
.autoplay{
  color: white;
  background-color: #ffffff85;
  width: 132px;
  height: 42px;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
}
.reset:hover,
.autoplay:hover{
  color: #000;
  border: solid 2px #ffffff85;
}